
<%= render 'static/welcome' %>

<% if logged_in? %>
  <%= render 'recipes/links' %>
<% else %>


<hr>

  <div class="container">
    <p style="color:red">Search by ingredients:</p>
      <% @ingredients.each do |ingredient|  %>
        | <%= ingredient.name %>
      <% end %>
  </div>

<hr>

  <div class="container">
    <p style="color:red">Recipes:</p>
      <% @recipes.each do |recipe|  %>
        | <%= recipe.title %>
      <% end %>
  </div>
<% end %>
