<div style="background-color:lightgray;" class="container">
  <p style="color:red">Title:</p>
    <p><%= @recipe.title %></p><br>
  <p style="color:red">Instructions:</p>
    <p><%= @recipe.instructions %><p>
</div><br></br>
<%#= render 'recipes/comments' %>
