<div class="container">
  <p>______________________________________________________________________________________________________________________________________________________________</p>

  <p style="color:red">Ingredient:</p><%= @ingredient.name %>

</div><br>


<div class="container">
  <p style="color:red">Recipes:</p>
  <% @ingredient.recipes.each do |recipe| %>
    <p>| <%= link_to recipe.title, recipe_path(recipe) %></p>
  <% end %>
</div>
